In [22]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import MinuteLocator, SecondLocator, DateFormatter
import pandas as pd

In [23]:
#azimuth_min = 
#azimuth_max = 

data_i = pd.to_datetime('2023-03-01 23:00:00', format = '%Y-%m-%d %H:%M:%S')
data_f = pd.to_datetime('2023-03-02 02:00:00', format = '%Y-%m-%d %H:%M:%S')
#data_m = pd.to_datetime('', format = '%Y-%m-%d %H:%M:%S')

#title = 

file_parabola_1 = './TDA2023_03_01.txt'
file_parabola_2 = './TDA2023_03_02.txt'
#file_ricevitore = '../../raccolta_dati/10GHz/2023-02-13_14.txt'

In [27]:
parabola_1 = pd.read_csv (file_parabola_1,
                           sep=';',
                           header=None,
                           comment='#')
parabola_2 = pd.read_csv (file_parabola_2,
                           sep=';',
                           header=None,
                           comment='#')
parabola = pd.concat([parabola_1, parabola_2], axis=0)

In [28]:
parabola

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
0,1,3,2023,0,0,2,3,1,1,294.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
1,1,3,2023,0,0,5,3,1,1,294.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
2,1,3,2023,0,0,8,3,1,1,294.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
3,1,3,2023,0,0,11,3,1,1,294.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
4,1,3,2023,0,0,14,3,1,1,294.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28795,2,3,2023,23,59,47,3,1,1,273.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
28796,2,3,2023,23,59,50,3,1,1,273.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
28797,2,3,2023,23,59,53,3,1,1,273.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
28798,2,3,2023,23,59,56,3,1,1,273.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6
28799,2,3,2023,23,59,59,3,1,1,273.9,...,NaN,NaN,NaN,NaN,NaN,NaN,-45.6,-45.6,-45.6,-45.6